/* https://github.com/Alexays/Waybar/wiki/Styling */

* {
    font-family: "0xProto Nerd Font";
    font-weight: bold;
    font-size: 1.25rem;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    border-radius: 10rem;
}

window#waybar > box {
    margin: 1rem;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 0 transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    background-color: #a37800;
}

#workspaces button {
    color: transparent;
    padding: 0 2rem;
    background-color: transparent;
    color: #ffffff;
}

#workspaces:first-child button {
    padding-left: 0;
}

#workspaces button.urgent {
    color: red;
}

#tray menu {
    font-family: Adwaita Sans;
    font-weight: normal;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 1rem;
}
